.frofile {
    background-image: url(./banner02.jpg);
    /* opacity: 0.8; */
    height: auto;
    /* background-image: -webkit-linear-gradient(0deg, #0f5ae0 0%, #7400ba 100%);; */
}

.caNhan {
    background-image: -webkit-linear-gradient(0deg, #0f5ae0 0%, #7400ba 100%);
    opacity: 0.9;
}

.historybook {
    background-image: -webkit-linear-gradient(0deg, #0f5ae0 0%, #7400ba 100%);
    opacity: 0.8;
    border-radius: 5px;
}